#tastyPancakes {
    min-height: 760px;
    background: url('../../img/bg/tastyPancakes/tastyPancakesBg.jpg') no-repeat;
    background-size: cover;
    // position: relative;
}

.tastyPancakesContent {
    width: 965px;
    height: 512px;
    padding: 140px 0 0 95px;
}