#theJibaritoSandwich {
    height: 1160px;
    background: #f3f1e9 url('../../img/bg/theJibaritoSandwich/theJibaritoSandwichBg.png') no-repeat top center;
}

.theJibaritoSandwichContent {
    padding-top: 90px;
    @extend %flexType1;
    flex-wrap: wrap;
    &__top {
        width: 100%;
    }
    &__left {
        width: 290px;            
    }
    &__right {
        width: 840px;
        padding-top: 50px;
        position: relative;
    }
    &__title, &__description {
        font-family: 'alegreyaBold';
        text-align: center;
    }
    &__title {
        font-size: 48px;        
    }
    &__description {
        line-height: 30px;
        color: $color2;
        text-transform: uppercase;
        margin-top: -10px;
    }
}

.composition {
    text-align: center;
    &__item {
        @extend %flexType2;    
        margin-bottom: 50px;
    }
    &__picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 10px;
    }
    &__image {
        display: block;
    }
    &__name {
        font-family: 'alegreyaBold';
        font-size: 30px;
        color: $color2;
        margin-bottom: 15px;
    }
    &__description {
        line-height: 20px;
    }
}

.production {
    margin-top: 23px;
    &__picture {
        width: 840px;
        height: 556px;
        border: 10px solid #fff;
        box-shadow: 0px 0px 18px 0px rgba(105, 80, 58, .3);    
        overflow: hidden;
    }
    &__image {
        display: block;
        width: auto;
        height: 100%;
    }
}

.productInfo {
    position: absolute;
    top: 50px;
    right: 10px;
    &__item {
        margin-bottom: 1px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.img {
    position: absolute;
    left: -18px;
    top: 0px;
    width: 1638px;
    height: 4380px;
    z-index: 40;
  }
  .info {
    position: absolute;
    left: 9px;
    top: 0px;
    width: 1619px;
    height: 4360px;
    z-index: 39;
  }
  .prep_15_mins {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1619px;
    height: 4360px;
    z-index: 38;
  }
  .PREP__15_mins {
    font-size: 18px;
    font-family: "Alegreya";
    color: rgb(164, 125, 94);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    position: absolute;
    left: 1292px;
    top: 3482.422px;
    z-index: 37;
  }
  .bg {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    position: absolute;
    left: 1220px;
    top: 3412px;
    width: 219px;
    height: 220px;
    z-index: 36;
  }
  .cook_25_mins {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1619px;
    height: 4360px;
    z-index: 34;
  }
  .cook_35_mins {
    font-size: 18px;
    font-family: "Alegreya";
    color: rgb(164, 125, 94);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    position: absolute;
    left: 1290px;
    top: 3683.344px;
    z-index: 33;
  }
  .bg {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    position: absolute;
    left: 1220px;
    top: 3613px;
    width: 219px;
    height: 220px;
    z-index: 32;
  }
  .ready_in_50_mins {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1619px;
    height: 4360px;
    z-index: 30;
  }
  .ready_in_50_mins {
    font-size: 18px;
    font-family: "Alegreya";
    color: rgb(164, 125, 94);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    position: absolute;
    left: 1272.906px;
    top: 3868.422px;
    z-index: 29;
  }
  .bg {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 1220px;
    top: 3813px;
    width: 219px;
    height: 220px;
    z-index: 27;
  }
  .border {
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    position: absolute;
    left: 608px;
    top: 3435px;
    width: 820px;
    height: 536px;
    z-index: 23;
  }
  .img_bg {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 599px;
    top: 3435px;
    width: 859px;
    height: 576px;
    z-index: 21;
  }
  