%sectionLayout {
    height: 760px;
    background-size: cover;
    background-repeat: no-repeat;
}

%flexType1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

%flexType2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

%positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%navigationLink {
    display: inline-block;
	font-family: 'alegreyaRegular';
	line-height: 70px;
	text-transform: uppercase;
}

%tilde {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    content: '\223C';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

%linkTransition {
    transition: color .3s;
    &:hover {
        color: $color3;
    }
}